@model IEnumerable<asser_etude_cas.Models.Output.EnquetePeriodiqueOutput>

@{
    ViewData["Title"] = "Liste enquête";
}

<h1>Liste des enquêtes périodiques</h1>

<p>
    <a asp-action="Create" class="btn btn-success float-right">Créer une nouvelle enquête</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Intitulé
            </th>
            <th>
               Nb de ménages recencés
            </th>
            <th>
                Taux d'accès des menages
            </th>
            <th>
               Taux de couverture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Village)
            </th>
            <th>
                Agent
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Intitule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbreMenagesRecenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TauxAccesParMenage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TauxCouvertureParVillage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Village.NomVillage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.NomComplet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
