@model IEnumerable<asser_etude_cas.Models.View.VillageViewModel>

@{
    ViewData["Title"] = "Liste de village";
}

<h1>Liste des villages</h1>

<p>
    <a asp-action="Create" class="btn btn-success float-right">Créer un nouveau village</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
               Nom du village
            </th>
            <th>
                Nombre de ménages
            </th>
            <th>
                Est eclairé
            </th>
            <th>
               Longitude
            </th>
            <th>
               Latitude
            </th>
            <th>
                Région
            </th>
            <th>
                Département
            </th>
            <th>
                Commune
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomVillage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbreDeMenage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commune.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
